## Dataset Conversion
In this Jupyter notebook we'll be converting the official and standard on-line portfolio selection datasets (saved in standard datasets folder) aquired into the format required by our application.

### Imports

In [1]:
import pandas as pd
from datetime import datetime
print("Imports Complete!")

Imports Complete!

### NYSE(O), NYSE(N)

In [2]:
# Read original CSV
orig_df = pd.read_csv("standard_datasets/nyse_n.csv")
orig_df.head()

,A,B,C,D,E,F,G,H,I,J,...,N,O,P,Q,R,S,T,U,V,W
0,0.997510,0.986480,0.992200,0.991950,0.956880,0.986380,0.984860,0.978110,0.988890,0.990430,...,0.986190,1.002620,1.033330,0.986090,0.990710,0.996830,0.984500,0.986840,0.996710,1.008920
1,1.007425,1.000005,0.994165,1.002008,0.935274,0.990937,0.977286,0.953452,0.993360,0.968106,...,0.972314,1.010491,1.100000,0.973912,0.973422,0.993660,0.984500,0.980258,0.950821,1.000001
2,1.004937,0.969574,0.978586,0.999994,0.913669,0.986379,0.969712,0.945233,0.988890,0.963323,...,0.989622,0.994747,1.066670,0.965224,0.965421,0.992060,0.990712,0.982454,0.947532,1.004481
3,1.007419,0.966191,0.966931,1.005974,0.906497,1.009115,0.972224,0.948003,1.000005,0.969700,...,0.989622,0.992121,1.100004,0.975659,0.961424,1.001604,0.982925,0.995609,0.934418,1.008921
4,1.019790,0.986481,0.961091,1.007986,0.884895,1.022738,0.964650,0.958905,1.002165,0.974481,...,0.999993,0.997369,1.133334,0.979132,0.962779,0.992059,0.984498,0.999999,0.904909,1.017880

In [3]:
orig_df.columns

Index(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N',
       'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W'],
      dtype='object')

In [4]:
# Generate list of fake dates
datelist = pd.date_range(datetime.today(), periods=len(orig_df)).tolist()

# Convert
data = []
for i in range(len(orig_df.columns)):
    for j in range(len(orig_df)):
        data.append([datelist[j].strftime('%Y-%m-%d'), orig_df[orig_df.columns[i]][j], orig_df.columns[i]])
        
# Create the pandas DataFrame 
new_df = pd.DataFrame(data, columns = ['Date', 'Open' 'Close', 'Code']) 
new_df = new_df.set_index('Date')

new_df.head()

               Close Code
Date
2020-09-30  0.997510    A
2020-10-01  1.007425    A
2020-10-02  1.004937    A
2020-10-03  1.007419    A
2020-10-04  1.019790    A

In [5]:
# Save 
pd.DataFrame(new_df).to_csv('nyse_n.csv', index=True)

In [6]:
print("Dataset is from: ", datelist[0].strftime('%Y-%m-%d'), "to: ", datelist[-1].strftime('%Y-%m-%d'))

Dataset is from:  2020-09-30 to:  2038-05-09